.jumbotron {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

label {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#mexico {
  margin-right: 5px;
}

#australia {
  margin-right: 5px;
}

#euro {
  margin-right: 5px;
}

#hong-kong {
  margin-right: 5px;
}

#croatia {
  margin-right: 5px;
}

